# Banco principal
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PgAdmin
PGADMIN_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

# Admin
ADMIN_USERNAME=
ADMIN_PASSWORD=

# SonarQube DB
SONAR_DB_USER=
SONAR_DB_PASSWORD=