{
  "mcpServers": {
    "sonarqube": {
      "command": "docker",
      "args": [
        "run", "-i", "--rm",
        "-e", "SONARQUBE_TOKEN",
        "-e", "SONARQUBE_URL",
        "-e", "SONARQUBE_IDE_PORT",
        "mcp/sonarqube"
      ],
      "env": {
        "SONARQUBE_URL": "http://172.17.0.1:9000",
        "SONARQUBE_TOKEN": "SEU_TOKEN_AQUI",
        "SONARQUBE_IDE_PORT": "64120"
      }
    }
  }
}
